@{
    ViewBag.Title = "Index";
}
<!-------------------------------------------------------------------------
  This is the default view. I've added our linkedin profiles just for a little
  extra creativity and fun. This references the _Layout file before it executes.
-------------------------------------------------------------------------->
<br />
<div class="row">
    <div class="col-md-3">
        <div class="thumbnail">
            <a href="https://www.linkedin.com/in/benjamin-swatling/">
                <img src="/Images/Ben3.jpg" alt="Ben" style="width:100%; height: 300px">
                <div class="caption">
                    <h4 style="text-align:center;">Ben Swatling!</h4>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail">
            <a href="https://www.linkedin.com/in/jaxon-moffitt/">
                <img src="/Images/Jaxon2.jpg" alt="Jaxon" style="width:100%; height: 300px">
                <div class="caption">
                    <h4 style="text-align:center;">Jaxon Moffitt!</h4>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail">
            <a href="https://www.linkedin.com/in/jarombarnes/">
                <img src="/Images/Jarom2.jpg" alt="Jarom" style="width:100%; height: 300px">
                <div class="caption">
                    <h4 style="text-align:center;">Jarom Barnes!</h4>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail">
            <a href="https://www.linkedin.com/in/kenneth-kuhn-262875142/">
                <img src="/Images/Ken2.jpg" alt="Ken" style="width:100%; height: 300px">
                <div class="caption">
                    <h4 style="text-align:center;">Kenneth Kuhn!</h4>
                </div>
            </a>
        </div>
    </div>
</div>